<div class="modal-container modal fade" tabindex="-1" role="dialog" aria-labelledby="ProjectManagerActionModal" aria-hidden="true">
    <div class="modal-dialog bs-modal-dialog" role="document">
        <div class="modal-content bs-modal-content"  style="background-color: <%= typeof style !== 'undefined' && typeof style['Background'] !== 'undefined' ? style['Background'] : '#FFFFFF' %>;">
        </div>
    </div>
</div>