<div class="actions-view-container">
    <span id="test-<%= id %>">
        <a class="btn actions-view-title target-<%= id %>" href="#" id="dropdownMenu<%= id %>"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            style="padding-top: 0px; padding-bottom:0px;"
        >
            <i class="fa <%= fa %> actions-view-title-fa" id="target-<%= id %>" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu" id="dropdown-menu-<%= id %>" aria-labelledby="dropdownMenu<%= id %>">
            <% _.forEach(actions, (action) => { %>
                <a class="dropdown-item"
                    id="<%= action.title.replace(/ /g, '') %>_<%= id %>"
                    href="#"
                    <%= ( typeof(action.help)!=='undefined' ) ?
                        "data-toggle='tooltip' data-placement='left' title='" + action.help + "'" :
                        ''
                    %>
                >
                    <% if(typeof(action.img)!== 'undefined') {
                        if (_.includes(action.img, "fa-")) { %>
                            <i class="fa <%= action.img %>" aria-hidden="true"></i>
                    <%  } else { %>
                            <img src="<%= action.img %>">
                        <% } %>
                    <% } %>
                    <%= action.title %>
                </a>
                <% }); %>
        </div>
    </span>
</div>
