<div class="automations-group col-md-12">
    <hr>    
    <div class="automations-group-name row" style="margin-bottom: 10px;">
        <h4><%= category %></h4>
    </div>
    <div class="automations-group-view-list row">
            <% if (totalAutomations === 0) { %>
                <p>There are not automation defined yet for this category.</p>
            <% } %>
    </div>
</div>