<div class="msg left-msg">
    <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)">
    </div>

    <div class="msg-bubble">
        <div class="msg-info">
            <div class="msg-info-name">BOT</div>
            <div class="msg-info-time">12:45</div>
        </div>

        <div class="msg-text">
            Hi, welcome to SimpleChat! Go ahead and send me a message. 😄
        </div>
    </div>
</div>