# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/templates
/src/app/ide/components-framework/component/components-bridge.ts
/libs/SUIM
/libs/Automatic-SO-UI-Generator

# git repos
/src/app/ide/ide-components/blockly/google_blockly

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/__pycache__
/typings

# System Files
.DS_Store
Thumbs.db

# BackendFiles
/src/app/ide/backend/uploaded_files

package-lock.json

# Automatic UI Gen for IoT
/src/domains-libs/IoT/AutoIoTGen
