@import "./node_modules/bootstrap/dist/css/bootstrap.css";

@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

@import "./src/app/ide/components-framework/common.components/shell/menu/menu-view/templates/menu.css";
@import "./src/app/ide/components-framework/build-in.components/configuration/configuration-view/property-views/aggregate-view/aggregate-view.css";
@import "./src/app/ide/components-framework/build-in.components/configuration/configuration-view/property-views/font-view/font-view.css";
@import "./src/app/ide/components-framework/build-in.components/configuration/configuration-view/property-views/property-view.css";

.ide-platform-container {
    margin-bottom: 100px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.card-header {
    padding: 0rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #e0e0e0;
}

.container .text-muted {
    margin: 10px 0;
    padding: 8px;
    text-align: center;
}

.text-muted {
    color: #3f4244;
}

.modal-content {
    position: relative;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #f8d7da;
    background-clip: padding-box;
    border: 0px;
    border-radius: 0.3rem;
    outline: 0;
}