@import "./node_modules/bootstrap/dist/css/bootstrap.min.css";

/* @import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"; */
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

@import "./src/app/ide/components-framework/common.components/shell/menu/menu-view/templates/menu.css";
@import "./src/app/ide/components-framework/build-in.components/configuration/configuration-view/property-views/aggregate-view/aggregate-view.css";
@import "./src/app/ide/components-framework/build-in.components/configuration/configuration-view/property-views/font-view/font-view.css";
@import "./src/app/ide/components-framework/build-in.components/configuration/configuration-view/property-views/property-view.css";

/* @import "./libs/SUIM/suim.css"; */

.ide-platform-container {
  overflow: hidden;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.application-card-header {
  padding: 0rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

/* .container .text-muted {
    margin: 10px 0;
    padding: 8px;
    text-align: center;
}

.text-muted-footer {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 0px 0px;
    padding: 8px;
    text-align: center
} */

.bs-modal-dialog {
  min-width: 40rem;
}

.bs-modal-content {
}

.breakpoint_enable {
  fill: red;
  stroke: yellow;
}