<div class="smart-object-list-container row">
    <div class="col-xs-12">
        <div class="smart-object-user-actions row">
            <div class="col-xs-4">
                <button type="button" class="btn btn-outline-primary btn-sm ts-register-new-smart-object">
                        <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-outline-primary btn-sm ts-search-smart-object">
                    <i class="fa fa-search fa-2x" aria-hidden="true"></i>
                </button>
            </div>
            <div class="col" style="margin-left: 1em; margin-top:5px;">
                <h3><u>Smart Objects</u></h3>
            </div>
        </div>
        <div class="smart-objects-view-list row" style="margin-top: 1em;">
            <% if (totalSmartObjects === 0) { %>
                <div class="col-sm-5 text-center" style="margin-left:15px;">
                    <p>No smart objects are registered. Click above add button to find and register your first smart object.</p>
                </div>
                <% } %>
        </div>
    </div>
</div>