<div class="row project-manager-app-instance-container" style="margin-bottom:5px; border: 2px solid white; background-color: rgb(80, 80, 80);">
    <div class="col">
        <div class="row project-manager-app-instance-info-actions-area" id="project-manager-app-instance-info-<%= id %>"
            style="border-bottom: 2px solid white; padding-top:6px; padding-bottom: 6px;"
        >
            <div class="col-1" id="project-folding-<%= id %>">
                
            </div>
            <div class="col-9">
                <div class="row app-instance-info">
                    <div class="col-1"></div>
                    <div class="col-1 project-manager-img">
                        <% if(!instance.img) { %>
                            <img src="<%= defaultDomainImg %>">
                        <% } else if(_.includes(instance.img, "fa-")) { %>
                            <i class="fa <%= instance.img %>" aria-hidden="true"></i>
                        <% } else { %>
                            <img src="<%= instance.img %>">
                        <% } %>
                    </div>
                    <div class="col-9 project-manager-title">
                        <%= instance.title %>
                    </div>
                </div>
            </div>
            <div class="col-1 app-instance-actions" id="app-instance-actions-<%= id %>">

            </div>
        </div>
        <div class="row" id="folding-app-instance-categories-<%= id %>">
            <div class="col app-instance-categories" id="categories-<%= id %>"
                style="position: relative;background-color: white;color: black;padding-left: 0;padding-right:0;">

            </div>
        </div>
    </div>
</div>