<div class="toolbar-container container-fluid" style="background-color: #e9e9e9;">
    <div class="row">
        <div class="col-md-11">
            <div class="row tools-view-container" style="text-align: center;">
                   
            </div>
        </div>
        <div class="col close-toolbar">
            <div class="row" style="float: right;">
                <a href="#" class="navbar-brand navbar-left ts-close-toolbar-btn">
                    <i class="fa fa-times fa-fw" aria-hidden="true" style="color:rgb(88, 88, 88); -webkit-text-stroke: 2px #e9e9e9;"></i>
                </a>
            </div>
        </div>
    </div>
</div>