<div class"col">
    <div class="runtime-manager-toolbar-container">
        <a href="#" class="navbar-brand navbar-left ts-runtime-toolbar-run-btn">
            <i class="fa fa-play" aria-hidden="true"></i>
        </a>
        <a href="#" class="navbar-brand navbar-left ts-runtime-toolbar-debug-btn">
            <img src="https://image.flaticon.com/icons/svg/1541/1541402.svg"
                style="width:28px; height:28px; opacity: 0.5;">
        </a>
        <a href="#" class="navbar-brand navbar-left ts-runtime-toolbar-stop-btn">
            <i class="fa fa-stop" aria-hidden="true"></i>
        </a>
    </div>
</div>