<div class"col runtime-manager-toolbar-container">
    <a href="#" class="navbar-brand navbar-left ts-runtime-run-toolbar-btn">
        <i class="fa fa-play" aria-hidden="true"></i>
    </a>
    <a href="#" class="navbar-brand navbar-left ts-blockly-debug-toolbar-btn">
        <i class="fad fa-debug"></i>
    </a>
    <a href="#" class="navbar-brand navbar-left ts-blockly-stop-toolbar-btn">
        <i class="fa fa-stop" aria-hidden="true"></i>
    </a>
</div>