<button id = "debugger-toggle">Show Debugger</button>
<div id = "debugger-toolbar"> 
    <div id = "debugger-header-container" class = "vcenter">
        <img src="/images/debugging.png" id = "debugger-icon" style="height: 24px; width: 24px;">
        <div id = "debugger-title" style="font-size: 18px;">Debugging</div>
        <div style="position: absolute;right: 1px;">
            <a class="btn actions-view-title" href="#" id="debuggerMenuView" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-top: 0px;padding-bottom:0px;/* right: 1px; */">
                <i class="fa fa-bars" id="debugger-burger" aria-hidden="true" style="color: rgb(255, 255, 255);">
                </i>
            </a>
        </div>
        <div class = "clear"></div>
    </div>
    <div id="debugger-content">
        <button type="button" class="collapsible">Debugger Control</button>
        <div id = "debugger-control" class="collapsible-content">
            <a href="#" id="ContinueButton">
                <i class="fa fa-lg fa-play" title="Continue" aria-hidden="true"></i>
            </a>
            <a href="#" id="PauseButton">
                <i title="Pause" class="fas fa-lg fa-pause"></i>
            </a>
            <a href="#" id="StopButton">
                <i title="Stop" class="fas fa-lg fa-stop"></i>
            </a>

            <a href="#" id="StepInButton">
                <img title="Step Into" src="/images/step-into.png"></i>
            </a>
            <a href="#" id="StepOverButton">
                <img title="Step Over" src="/images/step-over.png"></i>
            </a>
            <a href="#" id="StepParentButton">
                <img title="Step Parent" src="/images/step-parent.png"></i>
            </a>
            <a href="#" id="StepOutButton">
                <img title="Step Out" src="/images/step-out.png"></i>
            </a>
            
        </div>
        <button type="button" class="collapsible">Debugger data</button>
        <div id = "debug-tabs" class="collapsible-content">
            <div id="debugger-variables-tab-ui" class="center debugger-tab-ui debugger-tab-active"> Variables </div>
            <div id="debugger-watches-tab-ui" class="center debugger-tab-ui"> Watches </div>
            <div id="debugger-explanations-tab-ui" class="center debugger-tab-ui"> Explanations </div>
            <div id="debugger-variables-content" class="clear">
                <div id="debugger-variables"></div>
                <div id="debugger-watches"></div>
                <div id="debugger-explanations"></div>
            </div>
        </div>
        <button type="button" class="collapsible">Breakpoints</button>
        <div id="breakpoints-data">
            <div class="no-breakpoints">There are no breakpoints added.</div>
        </div>
        <button type="button" class="collapsible">Conditional Breakpoints</button>
        <div id="conditional-breakpoints-data">
            <div class="no-breakpoints">There are no conditional breakpoints added.</div>
        </div>
    </div>
</div >