<div id = "debugger-toolbar"> 
    <div id = "debugger-header-container" class = "vcenter">
        <svg id = "debugger-icon" class = "size30x30"> </svg>
        <div id = "debugger-title"> Debugger </div>
        <div id = "debugger-burger" class = "size22x22 middle-right" data-toggle="collapse" data-target="#debugger-toolbar"></div> 
        <div class = "clear"></div>
    </div>
    <div id="debugger-content">
        <div id = "debugger-control" > Debugger Control </div >
        <div id="debugger-variables-tab-ui" class="center debugger-tab-ui debugger-tab-active"> Variables </div>
        <div id="debugger-watches-tab-ui" class="center debugger-tab-ui"> Watches </div>
        <div id="debugger-explanations-tab-ui" class="center debugger-tab-ui"> Explanations </div>
        <div id="debugger-variables-content" class="clear">
            <div id="debugger-variables"></div>
            <div id="debugger-watches"></div>
            <div id="debugger-explanations"></div>
        </div>
        <div id="personal-files"></div>
        <div id="debugger-shared-files-ui">
    </div>
        <div>
            <!-- Header node for the debugger-shared-files-ui -->
            <div id="dummy-js-tree-1"></div>
        </div>

        <div>
            <div id="dummy-js-tree-2"> </div>
            <div id="debugger-recent-actions-ui">
            </div>
        </div>
    </div>
</div >