<div class"col">
    <div class="editor-manager-toolbar-container">
        <a href="#" class="navbar-brand navbar-left ts-normal-split-btn editor-tool-split-layout-btn editor-toolbar-split-disabled-btn"
            style="margin-left: 2px;">
            <img src="../../../../../../../images/split_normal.png">
        </a>
        <a href="#" class="navbar-brand navbar-left ts-vertical-split-btn editor-tool-split-layout-btn editor-toolbar-split-btn">
            <img src="../../../../../../../images/split_vertical.png">
        </a>
        <a href="#" class="navbar-brand navbar-left ts-horizontal-split-btn editor-tool-split-layout-btn editor-toolbar-split-btn"
            style="margin-right: 2px;">
            <img src="../../../../../../../images/split_horizontal.png">
        </a>
    </div>
</div>