<div class"col">
    <div class="component-toolbar-container">
        <a href="#" class="navbar-brand navbar-left ts-normal-split-btn editor-tool-split-layout-btn editor-toolbar-split-disabled-btn"
            data-toggle="tooltip" title="Single editor view."
            style="margin-left: 2px;"
        >
            <img src="../../../../../../../images/split_normal.png">
        </a>
        <a href="#" class="navbar-brand navbar-left ts-vertical-split-btn editor-tool-split-layout-btn editor-toolbar-split-btn"
            data-toggle="tooltip" title="Vertical editor views."
        >
            <img src="../../../../../../../images/split_vertical.png">
        </a>
        <a href="#" class="navbar-brand navbar-left ts-horizontal-split-btn editor-tool-split-layout-btn editor-toolbar-split-btn"
            data-toggle="tooltip" title="Horizontal editor views."
            style="margin-right: 2px;"
        >
            <img src="../../../../../../../images/split_horizontal.png">
        </a>
        <span style="margin-right: 6px; border-right: solid 1px grey;"></span>
    </div>
</div>