<div class"col blockly-toolbar-container">
    <div class="row blockly-tools-list">
        <div class="col blockly-undo-container" style="margin-left: 100px;">
            <a href="#" class="navbar-brand navbar-left ts-blockly-undo-toolbar-btn">
                <i class="fa fa-undo" aria-hidden="true"></i>
            </a>
            <a href="#" class="navbar-brand navbar-left ts-blockly-redo-toolbar-btn">
                <i class="fa fa-repeat" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>