html,
body {
  min-height: 100%;
}
body {
  height: 100vh;
  background-color: #e8e7e7 !important;
  overflow-y: hidden;
}

#run-application-view-container {
  overflow: hidden;
  max-height: 100vh;
}

#runtime-smart-devices-container {
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #4a81b126;
  overflow-y: auto;
  height: 58vh;
}

/* For calendar */
#organizer-container-list-container {
  max-height: 20rem;
}

.cjslib-calendar {
  width: 100% !important;
  height: 100% !important;
}

.cjslib-events {
  width: 100% !important;
  height: 100% !important;
}

.cjslib-year {
  width: 100% !important;
  background-color: #4a81b1 !important;
}

.cjslib-month {
  width: 100% !important;
  background-color: #a2a2a2c2 !important;
  padding: 0.3rem !important;
  font-size: 19px !important;
}

.cjslib-labels {
  background-color: #4a81b1 !important;
}

.cjslib-date {
  width: 100% !important;
  background-color: rgb(74 129 177) !important;
}

.calendar-event-finished {
  background-color: #77ca77 !important;
  /* border: 3px solid #4dd44d; */
}

.cjslib-list > li > p {
  font-size: small !important;
}

.cjslib-list > li {
  font-size: small !important;
}

/* Actions logger */
#logger-container,
#simulated-actions-container {
  height: 100%;
  font-family: Satellite, Roboto, sans-serif;
  -webkit-box-shadow: 0 0 4px rgb(21 21 21 / 21%);
  box-shadow: 0 0 4px rgb(21 21 21 / 21%);
  border: 1px solid rgba(21, 21, 21, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-user-select: none;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#logger-header,
#simulated-actions-header {
  width: 100% !important;
  background-color: rgb(74 129 177) !important;
  color: rgb(255, 236, 179);
  text-align: center;
  font-size: 14px;
  padding: 0.3rem 0rem 0.3rem 0rem;
  height: 9%;
}

#logger-body,
#simulated-actions-body {
  background-color: #f6f6f6;
  display: block;
  height: 91%;
  font-size: small;
  overflow-y: auto;
  font-size: 15px;
  max-height: 20rem;
}

.log-bubble {
  /* max-width: 450px; */
  padding: 0.7rem 1rem 0rem 1rem;
  border-radius: 14px;
  width: 94%;
  min-height: 4.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
}

.log-bubble:hover {
  opacity: 0.95;
  cursor: pointer;
}

.log-bubble-name {
  float: left;
  margin-left: 1rem;
  font-weight: 600;
}

.log-bubble-time {
  float: right;
}

.log-bubble-text {
  padding: 0.4rem 0rem 0.4rem 0rem;
  margin-left: 2.6rem;
  margin-top: 1.1rem;
}

/* Smart Devices Preview */
#runtime-smart-devices-container .resource-card {
  width: 16rem !important;
  /* margin-left: 0 !important; */
  height: 12rem !important;
}

#runtime-smart-devices-container .resource-card .card-header {
  padding: 0 !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

#runtime-smart-devices-container .resource-card .card-header span {
  font-size: 14px !important;
}

#runtime-smart-devices-container .resource-img {
  margin-left: 0;
}

#runtime-smart-devices-container .resource-title {
  margin-left: 0.5rem;
}

#runtime-smart-devices-container .resource-card .card-body {
  padding-top: 0.5rem !important;
  padding-bottom: 0 !important;
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}

#runtime-smart-devices-container .resource-card .property-title {
  font-size: small;
}

#runtime-smart-devices-container .property-value-string,
#runtime-smart-devices-container .property-value-number {
  max-width: 6rem !important;
  height: 2rem !important;
}

#runtime-smart-devices-container .resource-card hr {
  margin-top: 0.1rem !important;
  margin-bottom: 0.1rem !important;
}

#runtime-smart-devices-container .runtime-cards {
  transition: all 200ms ease-out;
  border-radius: 3px;
}

#runtime-smart-devices-container .runtime-cards-update {
  box-shadow: 0 0 8px rgb(35 173 255);
}

/* For digital clock */
#digital-clock {
  color: #3d314a;
  font-size: 18px;
  font-family: Orbitron;
  letter-spacing: 1px;
  text-align: center;
}

/* For analog clock */
.fill {
  position: relative;
}

/* .clock {
  position: absolute;
  opacity: 1;
  left: 50%;
  top: 50%;
} */

.centre {
  top: 10rem;
  left: 3.6rem;
  position: absolute;
}

.expand {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.anchor {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.element {
  position: absolute;
  top: 0;
  left: 0;
}

.round {
  border-radius: 296px;
}

.circle-1 {
  width: 6px;
  height: 6px;
  border: 3px solid black;
}

.circle-2 {
  width: 4px;
  height: 4px;
  border: 2px solid #fa9f22;
}

.second {
  transform: rotate(180deg);
}

.minute {
  transform: rotate(54deg);
}

.second-hand {
  width: 2px;
  background: #fa9f22;
}
.second-hand-front {
  width: 2px;
  height: 137px;
  background: #fa9f22;
  transform: translate(-50%, -100%) translateY(-3px);
}
.second-hand-back {
  width: 2px;
  height: 21px;
  background: #fa9f22;
  opacity: 1;
  transform: translate(-50%, -100%) translateY(24px);
}

.hour {
  transform: rotate(304.5deg);
}

.thin-hand {
  width: 4px;
  height: 50px;
  background: black;
  transform: translate(-50%, -100%) translateY(-5px);
}

.fat-hand {
  box-sizing: border-box;
  width: 10px;
  height: 57px;
  border-radius: 10px;
  background: black;
  transform: translate(-50%, -100%) translateY(-18px);
}

.minute-hand {
  height: 112px;
}

.minute-line {
  background: black;
  width: 1px;
  height: 9px;
  transform: translate(-50%, -100%) translateY(-131px);
  opacity: 0.34;
}
.major.minute-line {
  opacity: 0.5;
}
.minute-text {
  font: 12px Avenir Next, Helvetica;
  color: black;
  top: -135px;
}

.hour-pill {
  background: black;
  width: 6px;
  height: 35px;
  border-radius: 10px;
  transform: translate(-50%, -100%) translateY(-85px);
  opacity: 0.75;
}
.hour-text {
  font: 40px Hei, Helvetica;
  color: black;
  top: -105px;
}
.hour-10 .content {
  padding-left: 0.4ex;
}
.hour-11 .content {
  padding-left: 0.25ex;
}

/* Now, customizations! */

/* Customize: hour */
.hour-style-text .hour-pill {
  opacity: 0;
}
.hour-style-pill .hour-text {
  opacity: 0;
}
.hour-style-text-quarters .hour-1.hour-text,
.hour-style-text-quarters .hour-2.hour-text,
.hour-style-text-quarters .hour-3.hour-pill,
.hour-style-text-quarters .hour-4.hour-text,
.hour-style-text-quarters .hour-5.hour-text,
.hour-style-text-quarters .hour-6.hour-pill,
.hour-style-text-quarters .hour-7.hour-text,
.hour-style-text-quarters .hour-8.hour-text,
.hour-style-text-quarters .hour-9.hour-pill,
.hour-style-text-quarters .hour-10.hour-text,
.hour-style-text-quarters .hour-11.hour-text,
.hour-style-text-quarters .hour-12.hour-pill {
  opacity: 0;
}

/* Customize: hour-text */
.hour-text-style-small .hour-text {
  font-size: 24px;
  top: -113px;
}

/* Customize: hour-display */
.hour-display-style-quarters .hour-1,
.hour-display-style-quarters .hour-2,
.hour-display-style-quarters .hour-4,
.hour-display-style-quarters .hour-5,
.hour-display-style-quarters .hour-7,
.hour-display-style-quarters .hour-8,
.hour-display-style-quarters .hour-10,
.hour-display-style-quarters .hour-11 {
  opacity: 0;
}
.hour-display-style-none .hour-item {
  opacity: 0;
}

/* Customize: minute */
.minute-style-dot .minute-line {
  width: 6px;
  height: 6px;
  transform: translate(-50%, -100%) translateY(-134px);
  border-radius: 6px;
  opacity: 0.75;
}
.minute-style-dot .part.minute-line,
.minute-style-dot.hour-style-pill .major.minute-line {
  opacity: 0;
}
.minute-style-dot .hour-pill {
  transform: translate(-50%, -100%) translateY(-100px);
  height: 40px;
}

/* Customize: minute text */
.minute-text-style-inside .major.minute-line {
  opacity: 0;
}
/* .minute-text-style-outside .minute-text {
  top: -152px;
  font-size: 14px;
} */
.minute-text-style-none .minute-text {
  opacity: 0;
}

/* Customize: Minute display */
.minute-style-line.minute-display-style-fine-2 .whole.minute-line,
.minute-style-line.minute-display-style-fine-2 .major.minute-line {
  height: 13px;
  transform: translate(-50%, -100%) translateY(-127px);
}
.minute-style-line.minute-display-style-fine-2 .part.minute-line {
  height: 8px;
  transform: translate(-50%, -100%) translateY(-132px);
}
.minute-display-style-coarse .part.minute-line {
  opacity: 0;
}
.minute-display-style-major .part.minute-line,
.minute-display-style-major .whole.minute-line {
  opacity: 0;
}
.minute-display-style-none .part.minute-line,
.minute-display-style-none .major.major.minute-line,
.minute-display-style-none .whole.minute-line {
  opacity: 0;
}

/* Customize: hand */
.hand-style-hollow .fat-hand {
  background: black;
  border: 2px solid black;
}
