<div class="col-sm-5 card text-center" style="margin-left:15px; height: calc(100% - 15px); margin-bottom: 15px;">
    <div class="row align-items-center" style="border-bottom: 1px solid rgba(0,0,0,.125);">
        <div class="col-sm-10 col-xs-10 align-items-center" style="padding-right:0px;">
            <div class="row">
                <div class="col-sm-1 col-xs-1"></div>
                <div class="col-sm-11 col-xs-11">
                    <p class="ts-start-page-application-open card-title text-truncate" style="margin-top: 5px;margin-bottom: 5px;">
                        <strong><%= name %></strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-xs-2">
            <a href="#" class="ts-start-page-application-menu btn btn-default btn-sm">
                <i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="row card-body">
        <div class="col-sm-2 col-xs-2"></div>
        <div class="col-sm-8 col-xs-8">
            <img class="ts-start-page-application-open card-img-top img-thumbnail" style="border: 0 none;" src="<%= imagePath %>" alt="Responsive image">
        </div>
        <div class="col-sm-2 col-xs-2"></div>
    </div>
    <div class="row" style="padding-bottom: 10px;">
        <div class="col-sm-12 col-xs-12 text-left">
            <p class="card-text">
                <small><%= description %></small>
            </p>
        </div>
    </div>
    <footer style="border-top: 1px solid rgba(0,0,0,.125);"><span class="text-muted" style="font-size:x-small;">Last updated <%= lastUpdated %></span></footer>
</div>