<div class="row pi-blockly-task-container" style="width: 99.9%; margin-left: 1px; height: 100%;">
    <div class="col">
        <div class="row project-item-info-area"
        style="padding: 1px;padding-left: 10px;background: #FFFFFF; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
            project item name, author name, date-time last modified
        </div>
        <div class="row ec-blockly-task" style="height: 97%;">
        </div>
    </div>
</div>