<div class="col-12 item-view-area" style="border: solid 2px aliceblue;">
    <div class="row item-header-area" id="project-manager-item-<%= id %>">
        <% if(hasChildren) { %>
        <div class="col-1 item-folding-view-area" id="item-folding-<%= id %>" style="margin-left: <%= nesting * 15 %>px;"></div>
        <% } else { %>
            <div style="margin-left: <%= nesting * 15 %>px;"></div>
        <% } %>
        <div class="col-9 item-info-area">
            <div class="row project-manager-item-header-area">
                <div class="col-1 item-icon-view-area">
                        <% if(typeof(renderParts.img)!== 'undefined') { %>
                            <% if (typeof(renderParts.img.value.fa) !== 'undefined') { %>
                                <i class="fa <%= renderParts.img.value.fa %> project-category-header-img-<%= type %>"></i>
                            <% } else { %>
                                <img class="project-category-header-img-<%= type %>" src="<%= renderParts.img.value.fa %>" />
                            <% } %>
                        <% } %>
                </div>
                <div class="col-10 item-title-view-area">
                        <%= renderParts.title.value.text %>
                </div>
                <% if(typeof(renderParts.state)!== 'undefined') { %>
                <div class="col-1 item-state-view-area" id="item-state-<%= id %>">
                </div>
                <% } %>
            </div>
        </div>
        <% if(!hasChildren && nesting <= 2) { %>
            <div class="col-1"></div>
        <% } %>
        <div class="col-1 item-actions-view-area" id="item-actions-view-<%= id %>"></div>
    </div>
    <% if(hasChildren) { %>
    <div class="row item-children-view-area" id="item-children-<%= id %>" style="background-color: #dad9d9; color:black;">
    </div>
    <% } %>
</div>