<% if (isSubCategory) { %>
    <div class="col-12 project-manager-category-container" style="border: solid 2px aliceblue;">
        <div class="row">
                <!-- <div class="col-1"></div> -->
<% } else { %>
    <div class="row project-manager-category-container" style="border: solid 2px aliceblue;">
<% } %>
    <div class="col">
        <div class="row project-manager-category-header-area" style="border: solid 2px aliceblue; background-color: rgb(117, 115, 115);">
            <div class="col-1" style="margin-left: <%= nesting * 15 %>px;" id="category-folding-<%= id %>"></div>
            <div class="col-9 project-category-header">
                <%= title %>
            </div>
            <div class="col-1 category-actions" id="category-actions-<%= id %>">

            </div>
        </div>
        <div class="row category-elements-view-area" id="category-elements-<%= id %>" style="background-color: #dad9d9; color:black;">
            
        </div>
    </div>
</div>
<% if (isSubCategory) { %>
    </div>
<% } %>