<% if (isSubCategory) { %>
    <div class="col project-manager-category-container">
        <div class="row">
<% } else { %>
    <div class="row project-manager-category-container">
<% } %>
    <div class="col">
        <div class="row project-manager-category-header-area">
            <div class="col project-category-header">
                <%= title %>
            </div>
            <div class="col category-actions" id="category-actions-<%= id %>">

            </div>
            <div class="col category-menu" id="category-menu-<%= id %>">
                
            </div>
        </div>
        <div class="row category-elements-view-area" id="category-elements-<%= id %>">

        </div>
    </div>
</div>
<% if (isSubCategory) { %>
    </div>
<% } %>