<div class="row project-manager-container">
    <div class="col-lg-3 project-manager-treeview-area">
        <div class="row project-manager-info-actions-area" style="border: 2px solid white; background-color: rgb(80, 80, 80);">
            <div class="col-10">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-1 project-manager-img" style="margin-top: 5px;">
                        <% if(_.includes(img, "fa-")) { %>
                            <i class="fa <%= img %>" aria-hidden="true"></i>
                        <% } else { %>
                            <img src="<%= img %>">
                        <% } %>
                    </div>
                    <div class="col-10 project-manager-title" style="margin-top: 5px;">
                        <%= title %>
                    </div>
                </div>
            </div>
            <div class="col-1 project-manager-actions-area">
                
            </div>
            <!-- <div class="col project-manager-menu-area">
                
            </div> -->
        </div>
        <div class="row">
            <div class="col project-manager-app-instances-view-area" style="margin-top:5px;">
                    No project are loaded yet.
            </div>
        </div>
    </div>
    <div class="col-lg-9 project-manager-visual-editors-area" style="text-align: center;margin-top: 100px;">
        Visual Editors Area is not open yet.
    </div>
</div>