<div class="msg <%= typeMsg %>-msg">
    <div class="msg-img" style="background-image: <%= imgIcon %>">
    </div>
    <% if (typeof(bubbleColor) === 'undefined') { %>
    <div class="msg-bubble">
    <% } else { %>
    <div class="msg-bubble" style="background-color: <%= msg.color %>;">
    <% } %>
        <div class="msg-info">
            <div class="msg-info-name"><%= sender %></div>
            <div class="msg-info-time"><%= time %></div>
        </div>
        <div class="msg-text">
            <%= msg.text %>
        </div>
    </div>
</div>