<div id = "debug-tabs" class="collapsible-content">
    <div id="debugger-variables-tab-ui" class="center debugger-tab-ui debugger-tab-active"> Variables </div>
    <div id="debugger-watches-tab-ui" class="center debugger-tab-ui"> Watches </div>
    <div id="debugger-explanations-tab-ui" class="center debugger-tab-ui"> Explanations </div>
    <div id="debugger-variables-content" style="overflow: auto; max-height: 25rem;" class="clear">
        <div id="debugger-variables"></div>
        <div id="debugger-watches"></div>
        <div id="debugger-explanations"></div>
    </div>
</div>

<!-- <div class="no-breakpoints">There are no breakpoints added.</div> -->