<div id = "debugger-control" class="collapsible-content">
    <a href="#" id="ContinueButton">
        <i class="fa fa-lg fa-play" title="Continue" aria-hidden="true"></i>
    </a>
    <a href="#" id="PauseButton">
        <i title="Pause" class="fas fa-lg fa-pause"></i>
    </a>
    <a href="#" id="StopButton">
        <i title="Stop" class="fas fa-lg fa-stop"></i>
    </a>

    <a href="#" id="StepInButton">
        <img title="Step Into" src="/images/step-into.png"></i>
    </a>
    <a href="#" id="StepOverButton">
        <img title="Step Over" src="/images/step-over.png"></i>
    </a>
    <a href="#" id="StepParentButton">
        <img title="Step Parent" src="/images/step-parent.png"></i>
    </a>
    <a href="#" id="StepOutButton">
        <img title="Step Out" src="/images/step-out.png"></i>
    </a>
</div>