<li id="breakpoint-<%= id %>" class="jstree-node  jstree-leaf">
    <a class="jstree-anchor" href="#" tabindex="-1" id="projectElement-<%= id %>" style="width: 88%;">
        <span class="red-breakpoint-circle"></span>
        <span class="project-element-square" style="border-left: 6px solid <%= color %>;"></span>
        <i class="jstree-icon jstree-themeicon jstree-themeicon-custom project-element-img"
            role="presentation"
            style="background-image: url(\"<%= pelem.icon %>\");">
        </i>
        <span><%= pelem.label %></span>
        <span style="color: grey">- ID <%= blockNO %></span>
    </a>
    <input type="checkbox" class="form-check-input" id="breakpointHandler-<%= id %>">
    <a href="#" id="DeleteButton-<%= id %>" class="trash-button">
       <i class="fas fa-trash"></i>
    </a>
</li>