.font-property {
    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(109, 108, 108);
    border-radius: 8px;
}

.font-property-title {
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
}