<div class="automation-view-container col-md-7" style="margin-top:1px;">
    <div id="automation-view-<%= id %>" class="row ts-edit-automation" style="background-color: rgba(211, 211, 211, 0.541);">
        <div class="col-md-10" style="padding-top:15px; margin-left: 15px;">
            <p><%= name %></p>
        </div>
    </div>
</div>