<li class="nav-item dropdown<%= root?'':'-submenu' %> menu-item">
    <a class="nav-link dropdown-toggle" style="color: white!important;" href="#" id="navbarDropdownMenuLink<%= id %>" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <%= title %>
    </a>
    <div id="elems_<%= id %>" class="dropdown-menu dark-s-item bg-dark" style="background-color: #4a81b1!important;" aria-labelledby="navbarDropdownMenuLink<%= id %>">
    </div>
</li>