<div>
    <a class="btn page-folding-link" href="#" style="background-color: Transparent;padding-top: 0px;padding-left: 00px;padding-right: 0px;padding-bottom: 0px;">
        <i class="page-folding-link-icon <%= folding ? imgSet.plus : imgSet.minus %>" aria-hidden="true"></i>
    </a>
</div>