<div class="runtime-manager-console-input-container">
    <form class=".runtime-manager-console-input-container-form">
        <input
            type="text"
            class="runtime-manager-console-input-text"
            disabled="disabled"
        >
        <button
            type="submit"
            class="runtime-manager-console-input-btn"
            disabled="disabled"
        >
            Input
        </button>
    </form>
</div>