<div style="margin-right: 10px; margin-bottom: 10px; width: 15rem; max-width: 15rem; min-width: 15rem; height: 19rem; max-height: 19rem; min-height: 19rem; cursor: pointer;">
    <div class="card ts-application-action-box">
        <div class="card-header application-card-header">
            <div class="row align-items-center">
                <div class="col-sm-9 col-xs-9 mt-2" style="padding-right:0px;">
                    <p class="card-title text-truncate" style="max-width: 10rem">
                        <strong>
                            <%= title %>
                        </strong>
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2" id="application-box-actions-<%= id %>">
                    
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-2 col-xs-2"></div>
                <div class="col-sm-8 col-xs-8">
                    <img class="card-img-top img-thumbnail" style="border: 0 none;" src="<%= img %>" alt="Responsive image">
                </div>
                <div class="col-sm-2 col-xs-2"></div>
            </div>
            <div class="row" style="padding-bottom: 10px;">
                <div class="col-sm-12 col-xs-12 text-left">
                    <p class="card-text">
                        <small>
                            <%= description %>
                        </small>
                    </p>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted" style="border-top: 1px solid rgba(0,0,0,.125); font-size:x-small;">
                <b>Last updated</b>
                <%= lastModified %>
        </div>
    </div>
</div>