<ul class="ts-expand-app-view-box-menu-context">
    <li>
        <div>open</div>
    </li>
    <li>
        <div>edit</div>
    </li>
    <li>
        <div>delete</div>
    </li>
    <li>
        <div>advance</div>
        <ul>
            <li>
                <div>new version</div>
            </li>
            <li>
                <div>share</div>
            </li>
        </ul>
    </li>
</ul>