<div id="editors-area-container" class="row editors-area-container" style="height: 99%; text-align: center;margin-top: 270px; color:rgb(211, 207, 207);">
    <div class="col no-editors-loaded" style="float: none; margin: 0 auto;">
        Click Automations in Application view area to open here
    </div>
</div>