<div class="application-wsp-editor container-fluid" style="margin-top:10px;">
    <div class="row">
        <div class="col-lg-4 project-manager-container">
            <div class="row iot-application-editor-container" style="margin-top: 2em;">
                <div class="col-md-1 col-sm-1 col-xs-1"></div>
                <div class="automation-list-view-area col-lg-10">
                    <i class="fa fa-spinner fa-pulse fa-5x fa-fw centered"></i>
                    <span class="sr-only">Automations Loading...</span>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1"></div>
            </div>
        </div>
        <div class="col editor-manager-container" style="background-color: rgb(122, 122, 122);">

        </div>
    </div>
</div>