<div class="start-page-platform-container container-fluid" style="margin-top:10px;">
    <div class="row" style="margin-top: 2em;">
        <div class="col-md-3 col-sm-3 col-xs-3"></div>
        <div class="domain-view-area col-lg-6">
            <i class="fa fa-spinner fa-pulse fa-5x fa-fw centered"></i>
            <span class="sr-only">Domains Loading...</span>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3"></div>
    </div>
</div>