<div class="row run-time-manager-container">
    <section class="output-console">
        <header class="output-console-header">
            <div class="output-console-header-title">
                <i class="fab fa-stack-exchange"></i> Application Run-time Console:
            </div>
            <div class="output-console-header-options">
                <span><i class="fas fa-cog"></i></span>
            </div>
        </header>
        <main class="output-console-chat">
            <!-- <div class="msg left-msg">
                <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)">
                </div>

                <div class="msg-bubble">
                    <div class="msg-info">
                        <div class="msg-info-name">BOT</div>
                        <div class="msg-info-time">12:45</div>
                    </div>

                    <div class="msg-text">
                        Hi, welcome to SimpleChat! Go ahead and send me a message. 😄
                    </div>
                </div>
            </div> -->

            <!-- <div class="msg right-msg">
                <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)">
                </div>

                <div class="msg-bubble">
                    <div class="msg-info">
                        <div class="msg-info-name">Sajad</div>
                        <div class="msg-info-time">12:46</div>
                    </div>

                    <div class="msg-text">
                        You can change your name in JS section!
                    </div>
                </div>
            </div> -->
        </main>

        <!-- enable/disable of input from the user -->
        <!-- adding/removing the run-time-manager-input-view element -->
    </section>
</div>