<div class="row run-time-manager-container">
    <section class="output-console">
        <header class="output-console-header">
            <div class="output-console-header-title">
                <i class="fab fa-stack-exchange"></i> Application Run-time Console:
            </div>
            <div class="output-console-header-options">
                <span><i class="fas fa-cog"></i></span>
            </div>
        </header>
        <div class="output-view-area">
        </div>
        <div class="input-view-area">
        </div>
    </section>
</div>