<% if(typeof(indepedent) ==='undefined' || indepedent===true) { %>
<div class="form-group row property-form-group">
<% } %>
    <% if(typeof(renderName)==='undefined' || renderName) { %>
        <label for="input_<%= id %>" id="title_<%= id %>" class="col-4 col-form-label">
            <%= name %>
        </label>
    <% } %>
    <div class="col-8">
        <input id="input_<%= id %>" type="<%= type==='percentage' ? 'number' : type %>" style="margin-left: 10px; <%= type==='color'?'margin-top:6px;':'' %>"
                class="<%= type!=='color'?'form-control':'' %> ts-change-input"
                <%= typeof(step)!=='undefined' ? 'step="'+step+'"':'' %>
                <%= typeof(min)!=='undefined' ? 'min="'+min+'"' : (type==='percentage' ? 'min="0"' : '') %>
                <%= typeof(max)!=='undefined' ? 'max="'+max+'"' : (type==='percentage' ? 'max="100"' : '') %>
                value="<%= value %>"
                aria-describedby="title_<%= id %>"
        >
    </div>
<% if(typeof(indepedent) ==='undefined' || indepedent===true) { %>
</div>
<% } %>