<% if (isSubCategory) { %>
    <div class="col-12 project-manager-category-container" style="border: solid 2px aliceblue;">
        <div class="row">
                <!-- <div class="col-1"></div> -->
<% } else { %>
    <div class="row project-manager-category-container" style="border: solid 2px aliceblue;">
<% } %>
    <div class="col">
        <div class="row project-manager-category-header-area" id="project-manager-category-header-area-<%= id %>"
             style="border: solid 2px aliceblue; background-color: rgb(117, 115, 115); padding-top: 6px; padding-bottom:6px;">
            <div class="col-1" style="margin-left: <%= nesting * 15 %>px;" id="category-folding-<%= id %>"></div>
            <div class="col-9 project-category-header">
                <% if(typeof(renderParts.img)!== 'undefined') { %>
                    <% if (typeof(renderParts.img.value.fa) !== 'undefined') { %>
                        <i class="fa <%= renderParts.img.value.fa %> project-category-header-img-<%= type %>"></i>
                    <% } else { %>
                        <img class="project-category-header-img-<%= type %>" src="<%= renderParts.img.value.fa %>" />
                    <% } %>
                <% } %>
                <%= renderParts.title.value.text %>
            </div>
            <div class="col-1 category-actions" id="category-actions-<%= id %>">

            </div>
        </div>
        <div class="row category-elements-view-area" id="category-elements-<%= id %>" style="background-color: #dad9d9; color:black;">
            
        </div>
    </div>
</div>
<% if (isSubCategory) { %>
    </div>
<% } %>