<div class="project-manager-action-container modal fade" tabindex="-1" role="dialog" aria-labelledby="ProjectManagerActionModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content"  style="background-color:<%= typeof style !== 'undefined' && typeof style['Background'] !== 'undefined' ? style['Background'] : 'grey' %>;">
            <div class="modal-header">
                <h5 class="modal-title" id="configModalTitle"><%= actionDescription %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid project-manager-action-form-elements" style="padding: 5px 5px 5px 5px;">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary ts-btn-action-cancel" data-dismiss="modal">Cancel</button>
                <% _.forEach(choices, (choice) => { %>
                    <button type="button" class="btn btn-secondary ts-btn-action-<%= choice %>"><%= choice %></button>
                <% } %>
            </div>
        </div>
    </div>
</div>